/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content:space-evenly;
  padding: 20px;
  gap: 10px; /* Add spacing between columns */
  flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}
.left-column {
  flex: 0 0 400px; /*Set fixed width for the left column */
  padding: 20px;
  background-color: #908c8c;
  box-shadow: 0 0 5px rgba(3, 3, 3, 0.3);
  border-radius: 5px;
  max-height: 450px;
  max-width:35%;
}

.left-column h1 {
  margin-bottom: 20px;
  color: #060404;
}

.form-group {
  margin-bottom: 10px;
}

/* Form styling */
input[type="number"],
input[type="text"],
select {
  width: 90%;
  padding: 8px;
  border: 2px solid #000000;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: #ede8e8;
  color: #080303;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #080181;
}
/* Add these styles for the "Buy Premium" button */
#buy-premium-button {
  background-color: #e7e7e7; /* Change the background color */
  color: #000000; /* Text color */
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold; /* Make the text bold */
}

/* Change button color on hover */
#buy-premium-button:hover {
  background-color: #20096c; /* Darker color on hover */
}

/* Optional: Center the button */
#buy-premium-button {
  margin: 5px auto;
}

.right-column {
  flex: 1; /* Make the right column expand to fill available space */
  max-height: 450px; /* Set a maximum height for the right column */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds max-height */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  max-width: 35%;
}

/* Expense list styling */
ul {
  list-style: none;
  padding: 0;
}

.expense-item {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #060505;
  border-radius: 3px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
    margin-bottom: 20px;
  }
}
